---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Preparatoria">
    <div>
        <h1>Contenido de Preparatoria dos años</h1>
        <!-- tu contenido aquí -->
    </div>
</Layout>
