---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Ing. Energías Renovables">
    <div>
        <h1>Contenido de Internacionales Ing. Energías Renovables</h1>
        <!-- tu contenido aquí -->
    </div>
</Layout>
