---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <Header class:list={"flex-1"} />
  <body class="m-0 w-full h-full bg-[var(--ghost-white)]">
    <main>
      <div>
        <slot />
      </div>
    </main>
    <div class="w-full flex justify-center">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3599.40469277268!2d-103.41026398808185!3d25.558199477386335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x868fdbc6284829c1%3A0xbb3f3767a6f8abf1!2sUniversidad%20MEZE!5e0!3m2!1ses!2smx!4v1755203484667!5m2!1ses!2smx"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <Footer />
  </body>
</html>
