---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Administración y Gestión Ambiental">
    <div>
        <h1>Contenido de Administración y Gestión Ambiental</h1>
        <!-- tu contenido aquí -->
    </div>
</Layout>
