---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Ciencias de la Psicología Educativa">
    <div>
        <h1>Contenido de Ciencias de la Psicología Educativa</h1>
        <!-- tu contenido aquí -->
    </div>
</Layout>
