---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Psicología Forense">
    <div>
        <h1>Contenido de Psicología Forense</h1>
        <!-- tu contenido aquí -->
    </div>
</Layout>
