---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Diseño Gráfico">
    <div>
        <h1>Contenido de Diseño Gráfico</h1>
        <!-- tu contenido aquí -->
    </div>
</Layout>
