---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Tecnologías de la Información">
    <div>
        <h1>Contenido de Tecnologías de la Información</h1>
        <!-- tu contenido aquí -->
    </div>
</Layout>
