---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Enfermería General">
    <div>
        <h1>Contenido de Enfermería General</h1>
        <!-- tu contenido aquí -->
    </div>
</Layout>
