<footer class="h-screen py-50 px-60">
  <div class="flex flex-col gap-20">
    <div>
      <span class="font-bold text-8xl">SOMOS MEZE</span>
      <br />
      <span class="font-light text-2xl">Formando generaciones de líderes</span>
    </div>
    <div class="flex gap-20">
      <div>
        <span class="font-bold text-xl">Contacto</span>
        <div class="flex flex-col gap-5 pl-4 mt-5">
          <div class="">
            <span class="font-semibold">Telefenos</span>
            <div class="flex flex-col gap-3 pl-2 font-light mt-2">
              <span class="underline">+52 871 721 63 55</span>
              <span class="underline">+52 871 193 05 43</span>
              <span class="underline">+52 871 455 08 34</span>
            </div>
          </div>
          <div>
            <span class="font-semibold">Whatsapp</span>
            <div class="pl-2 font-light mt-2">
              <span>871 577 48 39</span>
            </div>
          </div>
          <div>
            <span class="font-semibold">Correo Electronico</span>
            <div class="pl-2 font-light mt-2">
              <span>contacto@meze.com.mx</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <span class="font-bold text-xl">Dirección</span>
        <div class="pl-4 mt-5 font-light">
          <span>Calz. Ávila Camacho #3750 Ote. <br />Torreón, Coah.</span>
        </div>
      </div>
      <div>
        <span class="font-bold text-xl">Encales Rápidos</span>
        <div class="flex flex-col pl-4 mt-5 font-light">
          <span>Inicio</span>
          <span>Preparatoria</span>
          <span>Nivel Medio</span>
          <span></span>
        </div>
      </div>
    </div>

    <div class="flex gap-5">
      <a
        href="https://www.facebook.com/MEZE.sitio.oficial/"
        target="_blank"
        class="group bg-[var(--ghost-white)] hover:bg-[var(--federal-blue)] shadow-sm h-10 w-10 hover:shadow-lg flex items-center justify-center transition-all duration-300 rounded-full"
      >
        <i class="fa-brands fa-facebook group-hover:text-[var(--ghost-white)]"
        ></i>
      </a>
      <a
        href="https://www.instagram.com/soymeze"
        target="_blank"
        class="group shadow-sm hover:shadow-lg h-10 w-10 flex hover:bg-[var(--federal-blue)] items-center justify-center rounded-full transition-all duration-300"
      >
        <i
          class="fa-brands fa-instagram group-hover:text-[var(--ghost-white)] text-[var(--federal-blue)] fa-lg"
        ></i>
      </a>
      <a
        href="https://wa.me/8715774839"
        target="_blank"
        class="group shadow-sm hover:shadow-lg h-10 w-10 flex hover:bg-[var(--federal-blue)] items-center justify-center rounded-full transition-all duration-300"
      >
        <i
          class="fa-brands fa-whatsapp group-hover:text-[var(--ghost-white)] text-[var(--federal-blue)] fa-lg"
        ></i>
      </a>
    </div>
  </div>

  <div></div>
</footer>
